{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Budget Calculator</h2>
    <form id="budgetForm">
        {% csrf_token %}
        <label for="budgetName">Budget Name:</label>
        <input type="text" id="budgetName" required>

        <label for="income">Income:</label>
        <input type="number" id="income" required>

        <h3>Expenses</h3>
        <div id="expensesContainer">
            <div class="expense">
                <input type="text" class="expenseName" placeholder="Expense Name" required>
                <input type="number" class="expensePrice" placeholder="Price" required>
            </div>
        </div>

        <button type="button" id="addExpenseBtn">Add Expense</button>

        <button type="submit" id="calculateBtn">Calculate</button>
    </form>

    <div id="result" class="hidden">
        <h3>Result:</h3>
        <div style="margin: 15px 0px;">
            <p id="totalExpense"></p>
        </div>
        <div style="margin: 15px 0px;">
            <p id="calculationTime"></p>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="budget_title" id="budget_title">
        <input type="hidden" name="budget_income" id="budget_income">
        <input type="hidden" name="all_expenses" id="all_expenses">
        <input type="hidden" name="all_costs" id="all_costs">
        <input type="hidden" name="total_cost" id="total_cost">
        <button type="submit" id="printBtn" class="hidden">Submit</button>
    </form>

</div>
{% endblock content %}